In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\CADT\InternshipI\Project\Digital-Loan\data\loan_data_100K.csv')

In [3]:
df = df.drop(columns=['Name'])

In [4]:
df.describe()

,Age,Dependents,Job_Tenure,Monthly_Income_USD,Coapplicant_Income_USD,Savings_Balance_USD,Credit_Score,Existing_Loans,Late_Payments,Loan_Term_Months,Loan_Amount_USD,Interest_Rate
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000
mean,34.736900,1.510240,7.140010,253.758620,20.304765,258.652434,630.612510,0.696440,0.20698,8.529940,4845.963229,14.215272
std,9.567125,1.369567,4.000303,183.794202,41.137023,201.266241,82.516581,0.832609,0.51981,6.057642,3041.118439,1.785498
min,18.000000,0.000000,1.000000,85.000000,0.000000,52.830000,440.000000,0.000000,0.00000,1.000000,1034.320000,10.000000
25%,28.000000,0.000000,4.000000,158.847500,0.000000,153.320000,592.000000,0.000000,0.00000,4.000000,2938.487500,12.800000
50%,35.000000,1.000000,7.000000,212.960000,0.000000,211.590000,678.000000,1.000000,0.00000,7.000000,4030.870000,13.600000
75%,41.000000,2.000000,9.000000,285.992500,30.332500,302.190000,687.000000,1.000000,0.00000,12.000000,5710.340000,15.780000
max,65.000000,5.000000,19.000000,4744.390000,1800.620000,5108.670000,764.000000,7.000000,6.00000,38.000000,22000.000000,18.000000

In [5]:
# Check missing values
print(df.isnull().sum())

# Example imputation
df['Education_Level'].fillna(df['Education_Level'].mode()[0], inplace=True)

Age                           0
Gender                        0
Marital_Status                0
Dependents                    0
Education_Level           22199
Province                      0
Job_Title                     0
Employment_Type               0
Job_Tenure                    0
Monthly_Income_USD            0
Coapplicant_Income_USD        0
Savings_Balance_USD           0
Credit_Score                  0
Existing_Loans                0
Late_Payments                 0
Loan_Purpose                  0
Loan_Term_Months              0
Loan_Amount_USD               0
Interest_Rate                 0
dtype: int64

C:\Users\Hak Sou\AppData\Local\Temp\ipykernel_6172\3953500503.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education_Level'].fillna(df['Education_Level'].mode()[0], inplace=True)

In [6]:
# Show all unique values for each categorical column
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"Unique values in '{col}':")
    print(df[col].unique())
    print('-' * 40)

Unique values in 'Gender':
['Female' 'Male']
----------------------------------------
Unique values in 'Marital_Status':
['Married' 'Divorced' 'Widowed' 'Single']
----------------------------------------
Unique values in 'Education_Level':
['Primary' 'Secondary' 'High School' 'Vocational' 'Bachelor' 'Master+']
----------------------------------------
Unique values in 'Province':
['Svay Rieng' 'Tboung Khmum' 'Kampong Cham' 'Banteay Meanchey' 'Kandal'
 'Kampong Thom' 'Takeo' 'Preah Vihear' 'Kampong Chhnang' 'Koh Kong'
 'Ratanakiri' 'Mondulkiri' 'Battambang' 'Kampong Speu' 'Pursat'
 'Siem Reap' 'Pailin' 'Prey Veng' 'Preah Sihanouk' 'Kep' 'Stung Treng'
 'Phnom Penh' 'Kampot' 'Kratie' 'Oddar Meanchey']
----------------------------------------
Unique values in 'Job_Title':
['Fishery Worker' 'Waitstaff' 'Construction Laborer' 'Shop Assistant'
 'Factory Supervisor' 'Farmer' 'Tuk-Tuk Driver' 'Garment Worker'
 'Construction Worker' 'Security Guard' 'Market Vendor' 'Receptionist'
 'Domestic Worker' 'Hotel Staff' 'Sales Staff' 'Beautician' 'Plumber'
 'Electrician' 'Teacher' 'Taxi Driver' 'Engineer' 'Bank Staff'
 'Auto Mechanic' 'NGO Worker' 'Nurse' 'Government Officer' 'Accountant'
 'Lawyer' 'Bank Manager' 'Doctor' 'University Lecturer' 'Tech Specialist']
----------------------------------------
Unique values in 'Employment_Type':
['Self-Employed' 'Employed']
----------------------------------------
Unique values in 'Loan_Purpose':
['Education' 'Medical' 'Debt Consolidation' 'Vehicle' 'Home Renovation'
 'Business Expansion' 'Agriculture' 'Consumer Goods']
----------------------------------------

In [7]:

df = df[df['Loan_Amount_USD'] <= 20000]
df = df[df['Interest_Rate'] >= 12]

In [8]:
# Keep only the first 999 rows where Age == 18
age_18_indices = df[df['Age'] == 18].index
if len(age_18_indices) > 999:
    drop_indices = age_18_indices[999:]
    # Only drop indices that are still present in df
    drop_indices = drop_indices.intersection(df.index)
    df = df.drop(drop_indices)

# Drop all rows where Age >= 60
df = df[df['Age'] <= 60]

In [9]:
# Find min and max for each column
min_values = df.min(numeric_only=True)
max_values = df.max(numeric_only=True)

print("Minimum values:\n", min_values)
print("\nMaximum values:\n", max_values)

Minimum values:
 Age                         18.00
Dependents                   0.00
Job_Tenure                   1.00
Monthly_Income_USD          85.00
Coapplicant_Income_USD       0.00
Savings_Balance_USD         52.83
Credit_Score               441.00
Existing_Loans               0.00
Late_Payments                0.00
Loan_Term_Months             1.00
Loan_Amount_USD           1034.32
Interest_Rate               12.00
dtype: float64

Maximum values:
 Age                          60.00
Dependents                    5.00
Job_Tenure                   19.00
Monthly_Income_USD         1563.36
Coapplicant_Income_USD      377.68
Savings_Balance_USD        2138.64
Credit_Score                749.00
Existing_Loans                7.00
Late_Payments                 6.00
Loan_Term_Months             38.00
Loan_Amount_USD           19996.88
Interest_Rate                18.00
dtype: float64

In [10]:
bins = [450, 550, 600, 650, 750]
labels = ['Poor', 'Fair', 'Good', 'Very Good']
df['Credit_Score_Category'] = pd.cut(df['Credit_Score'], bins=bins, labels=labels, include_lowest=True)

In [11]:
df.isnull().sum()

Age                         0
Gender                      0
Marital_Status              0
Dependents                  0
Education_Level             0
Province                    0
Job_Title                   0
Employment_Type             0
Job_Tenure                  0
Monthly_Income_USD          0
Coapplicant_Income_USD      0
Savings_Balance_USD         0
Credit_Score                0
Existing_Loans              0
Late_Payments               0
Loan_Purpose                0
Loan_Term_Months            0
Loan_Amount_USD             0
Interest_Rate               0
Credit_Score_Category     849
dtype: int64

In [12]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 94275, dtype: bool

In [13]:
df = df.dropna(subset=['Credit_Score_Category'])

In [14]:
df.to_csv('D:\CADT\InternshipI\Project\Digital-Loan\data\loan_data_100K_cleaned.csv', index=False)